<header class="app-header">
  <div class="logo-container">
    <img src="/assets/images/iisa-logo.png"
         alt="IISA Logo"
         class="app-logo">
    <span class="app-title">IISA Mission Control</span>
  </div>
  <nav class="app-nav">
    <a routerLink="/"
       mat-button
       class="nav-button">HOME</a>
    <a routerLink="/dashboard"
       mat-button
       class="nav-button">DASHBOARD</a>
  </nav>
</header>

<main class="app-main-content">
  <router-outlet></router-outlet>
</main>