@import "./assets/styles/utilities.css";

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #050b1a;
  color: #e0e0e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  color: #e0e0e0;
}

/* *, *::before, *::after {
  box-sizing: border-box;
} */

.mat-vertical-content {
  padding: 24px !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
